server {
  listen 80;
  server_name {{ ansible_fqdn | default('localhost') }};

  root {{ web_root }};
  index index.html;

  location / {
    try_files $uri $uri/ /index.html;
  }

  access_log /var/log/nginx/slimeos.access.log;
  error_log /var/log/nginx/slimeos.error.log;
}
