[Unit]
Description=Spiral Archive Server
After=network.target

[Service]
ExecStart=/usr/bin/node {{ spiral_server_path }}/server/archiveServer.js
Restart=always
Environment=NODE_ENV=production
WorkingDirectory={{ spiral_server_path }}

[Install]
WantedBy=multi-user.target
